.blockDiv {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  width: 85%;
  margin: auto;
  margin-bottom: 5em;
}

.blockDivTitle {
  background-color: #f6f7fb;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1em;
  cursor: pointer;
}
