footer {
  background: linear-gradient(60deg, #03bd93 0%, rgba(3, 155, 163, 1) 100%);
  display: flex;
  justify-content: space-between;
  padding: 0.8em 5em;
  margin-top: 17em;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}
