/* .logo-div {
  position: relative;
} */

.logo-img {
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  max-height: 35px;
  /* height: 5%; */
  top: 25px;
  left: 20px;
}

.logo-div p {
  color: white;
}
