nav {
  width: 85%;
  margin: auto;
  text-align: right;
  padding-top: 2em;
  margin-bottom: 5em;
}

nav a {
  text-decoration: none;
  color: #929292;
  transition: 0.3s;
  margin-left: 4em;
}

nav a:hover {
  color: #5e5e5e;
}
